.btnContainer{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #C3D7F9;
}
.btnLabel{
    user-select: none;
    opacity: 0;

    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
}
.navBtn {
    margin-left: 1em;
    font-size: x-large;
    height: 50px;
    width: 50px;
    border: 1px solid #C3D7F9;
    border-radius: 100%;
    background-color: #151B25;
    color: #C3D7F9;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer:hover .btnLabel{
    opacity: 0.5;
    transform: scale(1);
}
.navBtn:hover {
    opacity: 0.5;
}
